{% extends "base_generic.html" %}
{% block title %}
    <title>books list</title>
{% endblock %}


{% block content %}
    <h1>books list</h1>
    <a href="{% url 'book_create' %}"> add new book </a>   

    {% if book_list %}
        <ul>
            
        {% for book  in  book_list %}
        <li>
            <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})

             <a href="{% url 'book_update' book.id %}"> update </a>   

            <a href="{% url 'book_delete' book.id %}"> delete </a>   

        </li>
        
        {% endfor %}

        </ul>
    {% else %}
        <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}