{% extends "base_generic.html" %}
{% block title %}
    <title>book detail</title>
{% endblock %}


{% block content %}
<h1>{{ author.first_name}} {{ author.last_name }}</h1>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% for book in author.book_set.all %}
      <hr>
    
      <a class="text-muted" href="{{  book.get_absolute_url }}">{{ book.title }}</a>
      <p>
      {{ book.summary}}
      </p>
    {% endfor %}
  </div>   

{% endblock %}