{% extends "base_generic.html" %}
{% block title %}
    <title>author list</title>
{% endblock %}


{% block content %}
    <h1>author list</h1>

    <a href="{% url 'author_create' %}"> add author </a>   

    {% if author_list %}
        <ul>
            
        {% for author  in  author_list %}
        <li>
            <a href="{{ author.get_absolute_url }}">{{ author.last_name }}</a> 
            <a href="{% url 'author_update' author.id %}"> update </a>   
            <a href="{% url 'author_delete' author.id %}"> delete </a>   
            
        </li>
        
        {% endfor %}

        </ul>
    {% else %}
        <p>There are no author in the library.</p>
    {% endif %}
{% endblock %}